section div.favorite_title {
    padding: 15px;
    font-size: 1.7em;
    font-weight: bold;
    color: #4f4f4f;
    text-align: center;
    border-bottom: 2px solid #c9c9c9;
}
section div.favorites{
    width: 750px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #fff;
}

section div.favorite_list ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dadada;
}

section ul.favorite_list_name li{
    width: 200px; 
    font-weight: bold;
    color: #676767;
    padding: 10px 0;
}

section div.favorite_list li {
    width: 200px; 
    text-align: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
section div.favorite_list li.like_btn {
    width: 200px;
}

section div.favorite_list button {
    width: 50px; height: 50px;
    background-color: #fff;
    border: 1px solid #fff;
}

section div.favorite_list li.like_btn img {
    min-width: 20px;
    max-width: 20px;
}

section div.favorite_list a {
    font-weight: bold;
    color: #4f4f4f;
}

section div.page {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}