section {
    margin: 0 auto;
}

section div.title {
    padding: 15px;
    font-size: 1.7em;
    font-weight: bold;
    color: #4f4f4f;
    text-align: center;
    border-bottom: 2px solid #c9c9c9;
}
section div.favorites{
    width: 800px;
    margin: 0 auto;
}

section div.list ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dadada;
}

section ul.list_name li{
    font-weight: bold;
    color: #676767;
}

section div.list li {
    width: 200px; 
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
section div.list li.area,
section div.list li.floor,
section div.list li.btn {
    width: 100px;
}

section div.list a {
    font-weight: bold;
    color: #4f4f4f;
}

section div.page {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}