main div.main {
  margin: 5px auto;
}

main div.main ul {
  display: flex;
  justify-content: center;
}

main div.main li.map {
  margin-top: 17px;
  text-align: center;
}

main div.main li.view {
  width: 350px;
  margin: 0 20px;
}

main div.apt_ranking,
main div.apt_top,
main div.wishlist,
main div.real_time_search {
  height: 355px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 10px;
  text-align: center;
}

main div.apt_ranking_title,
main div.apt_top_title,
main div.wishlist_title,
main div.real_time_search_title {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 0;
  text-align: center;
}

main div.apt_ranking_main div,
main div.apt_top_main div,
main div.wishlist_main div,
main div.real_time_search_main div {
  border-top: 1px solid #dadada;
  padding-top: 2px;
  text-align: center;
}

main div.apt_ranking_main ul,
main div.apt_top_main ul,
main div.wishlist_main ul {
  display: flex;
  justify-content: center;
  padding: 5px;
}

main div.main li.view a {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

main div.main li.view li {
  margin-top: 3px;
  margin-right: 10px;
}

main p.increase {
  color: #ff0000;
  font-weight: bold;
}

main p.decrease {
  color: #0051ff;
  font-weight: bold;
}