main {
  /* background-color: #5fa4ed8c; */
  margin: 5px auto;
}

/* main div.main ul li.logo {
  max-width: 10px;
  min-width: 10px;
} */

main div.main ul.main_ul {
  display: flex;
  justify-content: center;
}

main div.main li.map {
  margin-top: 17px;
}

main div.main li.view {
  width: 220px;
  margin: 0 20px;
}

main div.apt_ranking_main {
  margin-top: 20;
}

main div.apt_ranking,
main div.apt_top,
main div.wishlist,
main div.real_time_search {
  height: 355px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 10px;
  /* border-collapse: collapse; */
}

main div.apt_ranking_title,
main div.apt_top_title,
main div.wishlist_title,
main div.real_time_search_title {
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px 0;
  text-align: center;
}

main div.wishlist_title a {
  font-weight: bold;
}

main div.apt_ranking_main > div,
main div.apt_top_main > div,
main div.wishlist_main > div,
main div.real_time_search_main > div {
  border-top: 1px solid #dadada;
  padding-top: 2px;
}

main div.apt_ranking_main ul,
main div.apt_top_main ul,
main div.wishlist_main ul {
  /* padding: 5px; */
  margin-bottom: 10px;
  /* background: #000; */
}

main div.wishlist_main a,
main div.apt_top_main a,
main div.apt_ranking_title a,
main div.real_time_search_title a {
  /* font-weight: bold; */
  font-size: 1em;
  font-weight: 200;
}

main div.main li.view li {
  margin-top: 3px;
  margin-right: 10px;
}

main div.main li.map li {
  border-radius: 10px;
}

main p.increase {
  color: #ff0000;
  font-weight: bold;
}

main p.decrease {
  color: #0051ff;
  font-weight: bold;
}