section > div.section_wrap > div.sign_in {
  /* position: relative; */
  margin: 100px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: var(--padding); */
  /* background-color: #c4dfff; */
  border: 2px solid #dadada;
  border-radius: 15px;
  padding: 50px;
}

section > div.section_wrap > div.sign_in input {
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #dadada;
  font-size: 1em;
  cursor: pointer;
  /* margin: 5px; */
}

section > div.section_wrap > div.sign_in input[type="button"] {
  background-color: #ebe7e7;
  /* width: 220px; */
  text-align: center;
  /* height: 15px;
    line-height: 5px; */
}
