section > div.modify_section_wrap > div.modify {
  /* position: relative; */
  margin: 50px auto;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: var(--padding); */
  background-color: #fff;
  border: 2px solid #dadada;
  border-radius: 15px;
  padding: 50px;
}

section div.modify_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.726);
  margin-bottom: 50px;
}
section > div.modify_section_wrap > div.modify input {
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #dadada;
  font-size: 1em;
  cursor: pointer;
}

section > div.modify_section_wrap > div.modify input.m_name {
  background-color: #dadada68;
}

div.btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

section > div.modify_section_wrap > div.modify input[type="button"] {
  background-color: #ebe7e7;
  width: 150px;
  text-align: center;

  /* height: 15px;
      line-height: 5px; */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
