body {
  background-color: #5fa4ed8c;
}

/*nav 시작*/
nav {
  height: 100px;
  /* background-color: #5fa4ed8c; */
}

nav div.bar ul.bar_ul li.logo {
  margin-left: 85px;
}
nav div.bar ul.bar_ul li.logo img {
  min-width: 100px;
  max-width: 100px;
  margin-left: 10px;
  padding-top: 30px;
}

nav div.bar {
  width: 1400px;
  margin: auto;
  line-height: 100px;
}

nav div.bar input {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 17px;
}
nav div.bar select {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 17px;
  margin-left: 6px;
}

nav div.bar > ul.bar_ul > li.sign_in a,
nav div.bar > ul.bar_ul > li.sign_up a,
nav div.bar > ul.bar_ul > li.modify a,
nav div.bar > ul.bar_ul > li.apt_search a,
nav div.bar > ul.bar_ul > li.btn a {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}


nav div.bar > ul.bar_ul > li.btn a {
  margin-right: 100px;
  font-size: 1em;
}

nav div.bar > ul.bar_ul > li.btn a:hover {
  text-decoration: none;
}

nav div.bar > ul.bar_ul > li {
  margin-right: 8px;
}

nav div.bar > ul.bar_ul > li.apt_search,
nav div.bar > ul.bar_ul > li.actual_transaction_price,
nav div.bar > ul.bar_ul > li.region_settings,
nav div.bar > ul.bar_ul > li.btn {
  float: right;
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

/*nav 끝*/

/* pagination 시작 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
/* pagination 끝 */

footer {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 0.8em;
  color: #5b5b5b;
  text-align: center;
}

footer a {
  color: #5b5b5b;
}